/*general styling*/
html,
body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  background-color: #d9d9d9;
}

.container {
  display: flex;
  max-width: 1400px;
  margin: auto;
}

.main {
  background-color: #cccccc;
  max-width: inherit;
}

/*nav*/
nav {
  display: flex;
  justify-content: space-between;
  height: 64px;
  background-color: white;
  max-width: inherit;
  width: 100%;
  position: fixed;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 24px;
  font-weight: 600;
  font-size: 1.5rem;
}

.logo img {
  height: 3rem;
}

.logo p span {
  color: #999999;
  font-weight: 500;
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav ul li {
  margin-right: 16px;
}

nav ul li a {
  margin-right: 16px;
  font-size: 1.25rem;
  text-decoration: none;
}

nav ul li a:hover {
  color: #ff6600;
}

.left {
  max-width: 60%;
  width: 100%;
}

.right {
  max-width: 40%;
  width: 100%;
}

/*jumbotron*/
.jumbotron {
  display: flex;
  max-width: inherit;
  margin-top: 64px;
}

.jumbotron .left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.jumbotron .left img {
  width: 90%;
  height: 90%;
}

.jumbotron .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.jumbotron .right h1 {
  font-size: 2.7rem;
  font-weight: 900;
  color: #4d4d4d;
  padding: 1rem 0;
}

.jumbotron .right h3 {
  font-size: 2rem;
  font-weight: 300;
  padding: 0.5rem 0;
}

.jumbotron .right a {
  text-align: center;
  padding: 8px 0;
  font-size: 1.5rem;
  background-color: #333333;
  margin-top: 2rem;
  width: 80%;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.jumbotron .right a:hover {
  color: #ff6600;
}

/*Information*/

.information {
  display: flex;
  max-width: inherit;
  background-color: white;
  padding-bottom: 2rem;
}

.information .left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.information .left img {
  width: 90%;
  margin: 32px 24px;
}

.right-subs {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.right-subs:hover {
  background-color: #cccccc;
}

.right-subs img {
  padding: 1rem;
  width: 35%;
}

#top-right-info {
  margin-top: 1rem;
}

.information .left .info-left {
  margin: 1.5rem;
  width: 90%;
  height: auto;
}

.information .left .info-left h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #4d4d4d;
}

.information .left .info-left p {
  font-size: 1.1rem;
}

.information .left .info-left p {
  font-size: 1rem;
}

#quote p {
  font-size: 0.8rem;
}

.info-right {
  padding-right: 1rem;
}

.info-right h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #4d4d4d;
}

.info-right p {
  padding: 8px 0;
  margin-bottom: 1.5rem;
}

.info-right a {
  text-decoration: none;
  color: blue;
}
